*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    /* border: 2px solid black; */
}
.menu{
    height: 3pc;
    border: 2px solid black;
    background-color: rgb(255, 136, 93);
}
.logo{
    display: flex;
    height: 6pc;
    border: 2px solid black;
    font-size: 25px;
    font-family: castellar;
    background-color: black;
}
.logo img{
    border: 2px solid black;
    margin-right: auto;
    height: 100%;
}
.name{
    text-align: center;
    font-size: 50px;
    margin-right: 41%;
    margin-top: 17px;
    color: rgb(255, 136, 93);
}
ul{
    display: flex;
}
li{
    font-family: castellar;
    font-size: 25px;
    list-style: none;
    margin-top: 0.8%;
}
li a{
    margin-right: 4.9pc;
    margin-left: 7pc;
    text-decoration: none;
    color: black;
}
li:hover{
    text-decoration: underline;
}
.header{
    height: 82%;
    border: 2px solid black;
    background-image: url(wlc.jpg);
}
.wlc{
    background-color:black ;
    margin-top: 17%;
    height: 25%;
    width: 39%; 
    margin-left: 33%;
    color: rgb(255, 136, 93);
    font-family: castellar;
    font-size: 50px;
    text-align: center;
}
.wlc2{
    padding: 2.6pc;
}
.trending{
    height: 90vh;
    border: 2px solid black;
}
.tag{
    font-family: castellar;
    font-weight: bolder;
    padding: 2pc;
    font-size: 25px;
    border: 2px solid black;
}
.product{
    height: 25pc;
    /* border: 2px solid black; */
    display: flex;
    background-color: rgb(255, 136, 93);
}
.product img{
    height: 25pc;
    margin-left: 7.3pc;
    border: 2px solid black;
}
.details{
    display: flex;
    font-size: 20px;
    font-family: castellar;
    /* border: 2px solid black; */
    text-decoration: none;
}
.s3{
    border: 2px solid coral;
    text-decoration: none;
    margin-left: 5.1pc;
    color: black;
}
.details :hover{
    text-decoration: underline;
}
.s1{
    border: 2px solid coral;
    margin-left: 6.7pc;
    color: black;
}
.s2{
    border: 2px solid coral;
    margin-left: 8pc;
    color: black;
}
.more{
    font-family: castellar;
    border: 2px solid black;
    border-radius: 100%;
    height: 2pc;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5pc;
    width: 2pc;
    text-align: center;
    font-weight: bolder;
    background-color: black;
}
.more a{
    text-decoration: none;
    color: coral;
}
.more :hover{
    text-decoration: underline;
}
.timeline{
    /* border: 2px solid black; */
    height: 100vh;
}
.timeline ul{
    display: grid;
    text-align: center;
}
.timeline ul li{
    text-decoration: none;
    border: 2px solid black;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    height: 10pc;
    text-align: center; 
    margin-top: 5%;   
    
}
.timeline ul :hover{
    transform: scale(1.2);
    transition: 2s;
}
.time{
    border:2px solid black;  
    font-size: 25px;
    font-weight: bold;
    color: coral;
    background-color: black;
    border-radius: 5px;  
}
.info{
    font-family: castellar;
    text-align: center;
    color: coral;
}
.form{
    border: 2px solid black;
    height: 120vh;
    text-align: center;
    font-size: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.regform{
    width: 800px;
    background-color: black;
    margin: auto;
    margin-top: 20px;
    color: coral;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid black;
    font-family: castellar;
}
.main{
    border: 2px solid black;
    width: 800px;
    margin: auto;
}
#firstname{
    position: relative;
    left: 5pc;
    width: 37%;
    margin-top: 20px;
    line-height: 40px;
    border-radius: 6px;
    font-family: castellar;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
}
#lastname{
    position: relative;
    left: 300px;
    width: 37%;
    line-height: 40px;
    border-radius: 6px;
    font-family: castellar;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    top: -43px;
    font-weight: bold;
}
#firstlabel{
    position: relative;
    left: 185px;
    top: -5px;
    font-size: 14px;
    font-family: castellar;
}
#lastlabel{
    position: relative;
    left: 495px;
    top: -40px;
    font-size: 14px;
    font-family: castellar;
}
#abc{
    text-align: center;
    font-family: castellar;
    line-height: 40px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}
h2{
    font-family: castellar;
    font-size: 25px;
    text-align: center;
}
.pro{
    display: flex;
    margin-left: 90px;
}
#email{
    font-family: castellar;
    text-align: center;
    font-weight: bold;
    text-transform: lowercase;
    border-radius: 6px;
    line-height: 35px;
}
.email{
    font-family: castellar;
    font-weight: bold;
    font-size: 25px;
    margin-left: 25%;
}
.bday{
    margin-left: 25%;
    font-size: 25px;
    font-family: castellar;
    font-weight: bold;
}
#bday{
    line-height: 40px;
    border-radius: 6px;
    font-family: castellar;
    font-weight: bold;
    text-align: center;
}
.no{
    margin-left: 20%;
    display: flex;
}
#no{
    font-family: castellar;
    font-weight: bold;
    line-height: 35px;
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    width: 35%;
    margin-left: 5px;
}
#no2{
    font-family: castellar;
    font-weight: bold;
    font-size: 25px;
}
.state{
    text-align: center;
    font-size: 25px;
}
#state{
    font-family: castellar;
    line-height: 40px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
}
#submit{
    font-family: castellar;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}
